.view-container {
}

.view-row-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-row {
    display: flex;
    padding: 10px;
    width: 250px;
}

.view-separate {
    width: 50px;
}

.view-title {
    font-weight: 700;
}

.text-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.home-url {
    color: #3f4040;
}

.url-container {
    margin: 20px 0px 20px 8px;
}
